#allow local machine password-free access
#SetEnvIf HOST "^localhost" local
#SetEnvIf HOST "^kevinpaulconnor.com" live
#Order Deny,Allow

#AuthName "Staging"
#AuthType Basic
#AuthUserFile /home/private/restrict/.htpasswd
#AuthGroupFile /

#Satisfy any
#Deny from all
#Allow from localhost
#Allow from env=live
#Require valid-user

